<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Table</title>
</head>
<body>
<table border="1">
  <tr th:each="type : ${tableMetadata.types}">
    <th>Type</th>
    <td th:text="${type.objectType}"/>
  </tr>
  <tr th:each="type : ${tableMetadata.types}">
    <th>Owner</th>
    <td th:text="${type.owner}"/>
  </tr>
  <tr th:each="type : ${tableMetadata.types}">
    <th>Name</th>
    <td th:text="${type.objectName}"/>
  </tr>
  <tr th:each="type : ${tableMetadata.types}">
    <th>Comment</th>
    <td th:text="${type.comments}"/>
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.columns)}">Columns</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.columns)}">
  <tr>
    <th>Column ID</th>
    <th>Column Name</th>
    <th>Data Type</th>
    <th>Data Length</th>
    <th>Data Precision</th>
    <th>Data Scale</th>
    <th>Primary Key</th>
    <th>Foreign Key</th>
    <th>Unique Key</th>
    <th>Constraint</th>
    <th>Nullable</th>
    <th>Default Value</th>
    <th>Comments</th>
  </tr>

  <tr th:each="column : ${tableMetadata.columns}">
    <td th:text="${column.columnId}" />
    <td th:text="${column.columnName}" />
    <td th:text="${column.dataTypeExt}" />
    <td th:text="${column.dataLength}" />
    <td th:text="${column.dataPrecision}" />
    <td th:text="${column.dataScale}" />
    <td th:text="${column.primaryKey}" />
    <td th:text="${column.foreign_key}" />
    <td th:text="${column.uniqueKey}" />
    <td th:text="${column.constraint}" />
    <td th:text="${column.nullable}" />
    <td th:text="${column.defaultDefinition}" />
    <td th:text="${column.comments}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.primaryKeys)}">Primary Keys</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.primaryKeys)}">
  <tr>
    <th>Primary Key</th>
    <th>Constraint Name</th>
    <th>Table Name</th>
    <th>Columns</th>
  </tr>

  <tr th:each="key : ${tableMetadata.primaryKeys}">
    <td th:text="${key.primaryKey}" />
    <td th:text="${key.constraintName}" />
    <td th:text="${key.tableName}" />
    <td th:text="${key.columns}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.uniqueKeys)}">Unique Keys</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.uniqueKeys)}">
  <tr>
    <th>Unique Key</th>
    <th>Constraint Name</th>
    <th>Table Name</th>
    <th>Column</th>
  </tr>

  <tr th:each="key : ${tableMetadata.uniqueKeys}">
    <td th:text="${key.uniqueKey}" />
    <td th:text="${key.constraintName}" />
    <td th:text="${key.tableName}" />
    <td th:text="${key.columnName}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.references)}">Foreign Keys</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.references)}">
  <tr>
    <th>Child Table</th>
    <th>Child Column</th>
    <th>Constraint Name</th>
    <th>Join rule</th>
    <th>Parent Table</th>
    <th>Parent Columns</th>
  </tr>

  <tr th:each="reference : ${tableMetadata.references}">
    <td th:text="${reference.childTable}" />
    <td th:text="${reference.childColumn}" />
    <td th:text="${reference.constraintName}" />
    <td>
      <span th:text="${reference.childTable}"/>.<span th:text="${reference.childColumn}"/> = <span th:text="${reference.parentTable}"/>.<span th:text="${reference.parentColumn}"/>
    </td>
    <td th:text="${reference.parentTable}" />
    <td th:text="${reference.parentColumn}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.checks)}">Constraints</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.checks)}">
  <tr>
    <th>Constraint Name</th>
    <th>Table Name</th>
    <th>Column Name</th>
    <th>Constraint</th>
    <th>Status</th>
  </tr>

  <tr th:each="check : ${tableMetadata.checks}">
    <td th:text="${check.constraintName}" />
    <td th:text="${check.tableName}" />
    <td th:text="${check.columnName}" />
    <td th:text="${check.constraint}" />
    <td th:text="${check.status}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.triggers)}">Triggers</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.triggers)}">
  <tr>
    <th>Trigger Name</th>
    <th>Trigger Type</th>
    <th>Triggering Event</th>
    <th>Schema Name</th>
    <th>Object Name</th>
    <th>Object Type</th>
    <th>Status</th>
    <th>Script</th>
  </tr>

  <tr th:each="trigger : ${tableMetadata.triggers}">
    <td th:text="${trigger.triggerName}" />
    <td th:text="${trigger.triggerType}" />
    <td th:text="${trigger.triggeringEvent}" />
    <td th:text="${trigger.schemaName}" />
    <td th:text="${trigger.objectName}" />
    <td th:text="${trigger.objectType}" />
    <td th:text="${trigger.status}" />
    <td th:text="${trigger.script}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.udfs)}">UDFs</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.udfs)}">
  <tr>
    <th>Function Name</th>
    <th>Return Type</th>
    <th>Arguments</th>
  </tr>

  <tr th:each="udf : ${tableMetadata.udfs}">
    <td th:text="${udf.functionName}" />
    <td th:text="${udf.returnType}" />
    <td th:text="${udf.arguments}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(databaseMetadata.arguments)}">Stored Procedures</h2>

<table border="1" th:if="${not #lists.isEmpty(databaseMetadata.arguments)}">
  <tr>
    <th>Procedure Name</th>
    <th>Argument Name</th>
    <th>In/Out</th>
    <th>Data Type</th>
    <th>Data Length</th>
    <th>Data Precision</th>
    <th>Data Scale</th>
    <th>Defaulted</th>
    <th>Default Value</th>
  </tr>

  <tr th:each="argument : ${databaseMetadata.arguments}">
    <td th:text="${argument.procedureName}" />
    <td th:text="${argument.argumentName}" />
    <td th:text="${argument.inOut}" />
    <td th:text="${argument.dataType}" />
    <td th:text="${argument.dataLength}" />
    <td th:text="${argument.dataPrecision}" />
    <td th:text="${argument.dataScale}" />
    <td th:text="${argument.defaulted}" />
    <td th:text="${argument.defaultValue}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.scripts)}">Script</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.scripts)}">

  <tr th:each="script : ${tableMetadata.scripts}">
    <td th:text="${script.script}" />
  </tr>
</table>
<h2 th:if="${not #lists.isEmpty(tableMetadata.viewsUsed)}">Uses</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.viewsUsed)}">
  <tr>
    <th>Referenced Type</th>
    <th>Referenced Object</th>
  </tr>

  <tr th:each="view : ${tableMetadata.viewsUsed}">
    <td th:text="${view.referencedType}" />
    <td th:text="${view.referencedObject}" />
  </tr>
</table>

<h2 th:if="${not #lists.isEmpty(tableMetadata.viewsReferenced)}">Used by</h2>

<table border="1" th:if="${not #lists.isEmpty(tableMetadata.viewsReferenced)}">
  <tr>
    <th>Referencing Type</th>
    <th>Referencing Object</th>
  </tr>

  <tr th:each="view : ${tableMetadata.viewsReferenced}">
    <td th:text="${view.referencingType}" />
    <td th:text="${view.referencingObject}" />
  </tr>
</table>
</body>
</html>